@model IEnumerable<study4_be.Models.Course>
@{
    ViewData["Title"] = "Course List";
}
<style>
    .course__create-btn{
        padding: 10px;
        margin-top: 40px;
        border: none;
        font-size: 20px;
        background-color: #d1ecf1;
        font-weight: 500;
        text-decoration:none;
        text-align:center;
    }

    .course__create-btn:hover{
        opacity: 0.8;
    }
</style>


<div class="card">
    <div class="container">
        <p>Search</p>
            <input type="text" class="col-md-10" />
            <a href="" class="course__create-btn col-md-1"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href="@Url.ActionLink("Course_Create","Courses")" class="course__create-btn col-md-1"><i class="fa-solid fa-plus"></i></a>
    </div>
    <div class="card-body">
        <table class="table">
            <thead class="table-info">
                <tr>
                    <th>Image</th>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Tag</th>
                    <th>Options</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var course in Model)
                {
                    <tr>
                        <td>
                            <img style="border-radius:0%!important" src="@course.CourseImage" height="150" width="150" id="previewImg" />
                        </td>
                        <td>
                            <p>@course.CourseName</p>
                        </td>
                        <td>
                            <p>@course.CourseDescription</p>
                        </td>
                        <td>
                            <p>@course.CoursePrice</p>
                        </td>
                        <td>
                            <p>@course.CourseTag</p>
                        </td>
                        <td>
                            <a href="@Url.Action("Course_Edit", "Courses", new { id = course.CourseId })" class="text-link-action">Sửa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.Action("Course_Delete", "Courses", new { id = course.CourseId })" class="text-link-action">Xóa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.Action("Course_Details", "Courses", new { id = course.CourseId })" class="text-link-action">Chi tiết</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

</div>