@model IEnumerable<study4_be.Models.ViewModel.QuestionListViewModel>
<style>
    .course__create-btn {
        padding: 10px;
        margin-top: 40px;
        border: none;
        font-size: 20px;
        background-color: #d1ecf1;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
    }

        .course__create-btn:hover {
            opacity: 0.8;
        }
</style>


<div class="card">
    <div class="container">
        <p>Search</p>
        <input type="text" class="col-md-10" />
        <a href="" class="course__create-btn col-md-1"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href="@Url.ActionLink("Question_Create","Question")" class="course__create-btn col-md-1"><i class="fa-solid fa-plus"></i></a>
    </div>
    <div class="card-body">
        <table class="table">
            <thead class="table-info">
                <tr>
                    <th>Question Id</th>
                    <th>Question Text</th>
                    <th>Answer</th>
                    <th>A</th>
                    <th>B</th>
                    <th>C</th>
                    <th>D</th>     
                    <th>Lesson Title</th>
                    <th>Container Title</th>
                    <th>Unit Title</th>
                    <th>Course Title</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <p>@item.question.QuestionId</p>
                        </td>
                        <td>
                            <p>@item.question.QuestionText</p>
                        </td>
                        <td>
                            <p>@item.question.CorrectAnswer</p>
                        </td>
                        <td>
                            <p>@item.question.OptionA</p>
                        </td>
                        <td>
                            <p>@item.question.OptionB</p>
                        </td>
                        <td>
                            <p>@item.question.OptionC</p>
                        </td>
                        <td>
                            <p>@item.question.OptionD</p>
                        </td>    
                        <td>
                            <p>@item.question.OptionD</p>
                        </td>    
                        <td>
                            <p>@item.lessonTittle</p>
                        </td>   
                        <td>
                            <p>@item.containerTittle</p>
                        </td>   
                        <td>
                            <p>@item.unitTittle</p>
                        </td>  
                        <td>
                            <p>@item.courseName</p>
                        </td>
                        <td>
                            <a href="@Url.ActionLink("Question_Edit","Question",new { id = item.question.QuestionId })" class="text-link-action">Sửa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.ActionLink("Question_Delete","Question",new { id = item.question.QuestionId })" class="text-link-action">Xóa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.ActionLink("Question_Details","Question",new { id = item.question.QuestionId })" class="text-link-action">Chi tiết</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>