@model IEnumerable<study4_be.Models.Question>
<style>
    .course__create-btn {
        padding: 10px;
        margin-top: 40px;
        border: none;
        font-size: 20px;
        background-color: #d1ecf1;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
    }

        .course__create-btn:hover {
            opacity: 0.8;
        }
</style>


<div class="card">
    <div class="container">
        <p>Search</p>
        <input type="text" class="col-md-10" />
        <a href="" class="course__create-btn col-md-1"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href="@Url.ActionLink("Question_Create","Question")" class="course__create-btn col-md-1"><i class="fa-solid fa-plus"></i></a>
    </div>
    <div class="card-body">
        <table class="table">
            <thead class="table-info">
                <tr>
                    <th>QuestionId</th>
                    <th>IdQuizzes</th>
                    <th>QuestionText</th>
                    <th>CorrectAnswer</th>
                    <th>OptionA</th>
                    <th>OptionB</th>
                    <th>OptionC</th>
                    <th>OptionD</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var question in Model)
                {
                    <tr>
                        <td>
                            <p>@question.QuestionId</p>
                        </td>
                        <td>
                            <p>@question.QuestionText</p>
                        </td>
                        <td>
                            <p>@question.CorrectAnswer</p>
                        </td>
                        <td>
                            <p>@question.OptionA</p>
                        </td>
                        <td>
                            <p>@question.OptionB</p>
                        </td>
                        <td>
                            <p>@question.OptionC</p>
                        </td>
                        <td>
                            <p>@question.OptionD</p>
                        </td>
                        <td>
                            <a href="@Url.ActionLink("Question_Edit","Question",new { id = question.QuestionId })" class="text-link-action">Sửa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.ActionLink("Question_Delete","Question",new { id = question.QuestionId })" class="text-link-action">Xóa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.ActionLink("Question_Details","Question",new { id = question.QuestionId })" class="text-link-action">Chi tiết</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>