@model IEnumerable<study4_be.Models.ViewModel.LessonListViewModel>
<style>
    .course__create-btn {
        padding: 10px;
        margin-top: 40px;
        border: none;
        font-size: 20px;
        background-color: #d1ecf1;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
    }

        .course__create-btn:hover {
            opacity: 0.8;
        }
</style>


<div class="card">
    <div class="container">
        <p>Search</p>
        <input type="text" class="col-md-10" />
        <a href="" class="course__create-btn col-md-1"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href="@Url.ActionLink("Lesson_Create","Lesson")" class="course__create-btn col-md-1"><i class="fa-solid fa-plus"></i></a>
    </div>
    <div class="card-body">
        <table class="table">
            <thead class="table-info">
                <tr>
                    <th>Lesson Id</th>
                    <th>Lesson Type</th>
                    <th>Lesson Title</th>
                    <th>Container Title</th>
                    <th>Unit Title</th>
                    <th>Course Title</th>   
                    <th>Tag Title</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <p>@item.Lesson.LessonId</p>
                        </td>
                        <td>
                            <p>@item.Lesson.LessonType</p>
                        </td>
                        <td>
                            <p>@item.Lesson.LessonTitle</p>
                        </td>
                        <td>
                            <p>@item.containerTitle</p>
                        </td>
                        <td>
                            <p>@item.unitTitle</p>
                        </td>
                        <td>
                            <p>@item.courseTitle</p>
                        </td> 
                        <td>
                            <p>@item.tagTitle</p>
                        </td>
                        <td>
                            <a href="@Url.ActionLink("Lesson_Edit","Lesson", new { id = item.Lesson.LessonId })," class="text-link-action">Sửa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.ActionLink("Lesson_Delete","Lesson", new { id = item.Lesson.LessonId })" class="text-link-action">Xóa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.ActionLink("Lesson_Details","Lesson", new { id = item.Lesson.LessonId })" class="text-link-action">Chi tiết</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>