@model IEnumerable<study4_be.Models.Lesson>
<style>
    .course__create-btn {
        padding: 10px;
        margin-top: 40px;
        border: none;
        font-size: 20px;
        background-color: #d1ecf1;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
    }

        .course__create-btn:hover {
            opacity: 0.8;
        }
</style>


<div class="card">
    <div class="container">
        <p>Search</p>
        <input type="text" class="col-md-10" />
        <a href="" class="course__create-btn col-md-1"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href="@Url.ActionLink("Lesson_Create","Lesson")" class="course__create-btn col-md-1"><i class="fa-solid fa-plus"></i></a>
    </div>
    <div class="card-body">
        <table class="table">
            <thead class="table-info">
                <tr>
                    <th>LessonId</th>
                    <th>LessonType</th>
                    <th>LessonTitle</th>
                    <th>ContainerId</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var lesson in Model)
                {
                    <tr>
                        <td>
                            <p>@lesson.LessonId</p>
                        </td>
                        <td>
                            <p>@lesson.LessonType</p>
                        </td>
                        <td>
                            <p>@lesson.LessonTitle</p>
                        </td>
                        <td>
                            <p>@lesson.ContainerId</p>
                        </td>
                        <td>
                            <a href="@Url.ActionLink("Lesson_Edit","Lesson", new { id = lesson.LessonId })," class="text-link-action">Sửa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.ActionLink("Lesson_Delete","Lesson", new { id = lesson.LessonId })" class="text-link-action">Xóa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.ActionLink("Lesson_Details","Lesson", new { id = lesson.LessonId })" class="text-link-action">Chi tiết</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>