@model IEnumerable<study4_be.Models.ViewModel.VocabListViewModel>
<style>
    .course__create-btn {
        padding: 10px;
        margin-top: 40px;
        border: none;
        font-size: 20px;
        background-color: #d1ecf1;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
    }

        .course__create-btn:hover {
            opacity: 0.8;
        }
</style>


<div class="card">
    <div class="container">
        <p>Search</p>
        <input type="text" class="col-md-10" />
        <a href="" class="course__create-btn col-md-1"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href="@Url.ActionLink("Vocab_Create","Vocab")" class="course__create-btn col-md-1"><i class="fa-solid fa-plus"></i></a>
    </div>
    <div class="card-body">
        <table class="table">
            <thead class="table-info">
                <tr>
                    <th>Vocab Id</th>
                    <th>Vocab Title</th>
                    <th>Vocab Type</th>
                    <th>Mean</th>
                    <th>Example</th>
                    <th>Explanation</th>
                    <th>AudioUrl Us</th>
                    <th>AudioUrl Uk</th>
                    <th>Lesson Title </th>
                    <th>Container Tittle</th>
                    <th>Unit Tittle</th>
                    <th>Course Tittle</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vocab in Model)
                {
                    <tr>
                        <td>
                            <p>@vocab.vocab.VocabId</p>
                        </td>
                        <td>
                            <p>@vocab.vocab.VocabTitle</p>
                        </td>
                        <td>
                            <p>@vocab.vocab.VocabType</p>
                        </td>
                        <td>
                            <p>@vocab.vocab.Mean</p>
                        </td>
                        <td>
                            <p>@vocab.vocab.Example</p>
                        </td>
                        <td>
                            <p>@vocab.vocab.Explanation</p>
                        </td>
                        <td>
                            <p>@vocab.vocab.AudioUrlUs</p>
                        </td>
                        <td>
                            <p>@vocab.vocab.AudioUrlUk</p>
                        </td>
                        <td>
                            <p>@vocab.vocab.LessonId</p>
                        </td>
                             
                        <td>
                            <p>@vocab.containerTittle</p>
                        </td>
                             
                        <td>
                            <p>@vocab.unitTittle</p>
                        </td>    
                        
                        <td>
                            <p>@vocab.courseName</p>
                        </td>
                        <td>
                            <a href="@Url.ActionLink("Vocab_Edit","Vocab",new { id = vocab.vocab.VocabId })" class="text-link-action">Sửa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.ActionLink("Vocab_Delete","Vocab",new { id = vocab.vocab.VocabId })" class="text-link-action">Xóa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.ActionLink("Vocab_Details","Vocab",new { id = vocab.vocab.VocabId })" class="text-link-action">Chi tiết</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>