@model IEnumerable<study4_be.Models.Vocabulary>
<style>
    .course__create-btn {
        padding: 10px;
        margin-top: 40px;
        border: none;
        font-size: 20px;
        background-color: #d1ecf1;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
    }

        .course__create-btn:hover {
            opacity: 0.8;
        }
</style>


<div class="card">
    <div class="container">
        <p>Search</p>
        <input type="text" class="col-md-10" />
        <a href="" class="course__create-btn col-md-1"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href="@Url.ActionLink("Vocab_Create","Vocab")" class="course__create-btn col-md-1"><i class="fa-solid fa-plus"></i></a>
    </div>
    <div class="card-body">
        <table class="table">
            <thead class="table-info">
                <tr>
                    <th>VocabId</th>
                    <th>VocabType</th>
                    <th>Mean</th>
                    <th>Example</th>
                    <th>Explanation</th>
                    <th>AudioUrlUs</th>
                    <th>AudioUrlUk</th>
                    <th>LessonId</th>
                    <th>Lesson</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var vocab in Model)
                {
                    <tr>
                        <td>
                            <p>@vocab.VocabId</p>
                        </td>
                        <td>
                            <p>@vocab.VocabType</p>
                        </td>
                        <td>
                            <p>@vocab.Mean</p>
                        </td>
                        <td>
                            <p>@vocab.Example</p>
                        </td>
                        <td>
                            <p>@vocab.Explanation</p>
                        </td>
                        <td>
                            <p>@vocab.AudioUrlUs</p>
                        </td>
                        <td>
                            <p>@vocab.AudioUrlUk</p>
                        </td>
                        <td>
                            <p>@vocab.LessonId</p>
                        </td>
                        <td>
                            <a href="@Url.ActionLink("Vocab_Edit","Vocab",new { id = vocab.VocabId })" class="text-link-action">Sửa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.ActionLink("Vocab_Delete","Vocab",new { id = vocab.VocabId })" class="text-link-action">Xóa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.ActionLink("Vocab_Details","Vocab",new { id = vocab.VocabId })" class="text-link-action">Chi tiết</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>