@model IEnumerable<study4_be.Models.Quiz>
<style>
    .course__create-btn {
        padding: 10px;
        margin-top: 40px;
        border: none;
        font-size: 20px;
        background-color: #d1ecf1;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
    }

        .course__create-btn:hover {
            opacity: 0.8;
        }
</style>


<div class="card">
    <div class="container">
        <p>Search</p>
        <input type="text" class="col-md-10" />
        <a href="" class="course__create-btn col-md-1"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href="@Url.ActionLink("Quizzes_Create","Quizzes")" class="course__create-btn col-md-1"><i class="fa-solid fa-plus"></i></a>
    </div>
    <div class="card-body">
        <table class="table">
            <thead class="table-info">
                <tr>
                    <th>QuizzesId</th>
                    <th>Title</th>
                    <th>DescriptionQuizzes</th>
                    <th>CreatedTime</th>
                    <th>LessonId</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var quiz in Model)
                {
                    <tr>
                        <td>
                            <p>@quiz.QuizzesId</p>
                        </td>
                        <td>
                            <p>@quiz.Title</p>
                        </td>
                        <td>
                            <p>@quiz.DescriptionQuizzes</p>
                        </td>
                        <td>
                            <p>@quiz.CreatedTime</p>
                        </td>
                        <td>
                            <p>@quiz.LessonId</p>
                        </td>
                        <td>
                            <a href="@Url.ActionLink("Quizzes_Edit","Quizzes",new { id = quiz.QuizzesId })" class="text-link-action">Sửa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.ActionLink("Quizzes_Delete","Quizzes",new { id = quiz.QuizzesId })" class="text-link-action">Xóa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.ActionLink("Quizzes_Details","Quizzes",new { id = quiz.QuizzesId })" class="text-link-action">Chi tiết</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>