@model IEnumerable<study4_be.Models.Audio>
<style>
    .course__create-btn {
        padding: 10px;
        margin-top: 40px;
        border: none;
        font-size: 20px;
        background-color: #d1ecf1;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
    }

        .course__create-btn:hover {
            opacity: 0.8;
        }
</style>


<div class="card">
    <div class="container">
        <p>Search</p>
        <input type="text" class="col-md-10" />
        <a href="" class="course__create-btn col-md-1"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href="@Url.ActionLink("Audio_Create","Audio")" class="course__create-btn col-md-1"><i class="fa-solid fa-plus"></i></a>
    </div>
    <div class="card-body">
        <table class="table">
            <thead class="table-info">
                <tr>
                    <th>AudioId</th>
                    <th>AudioUrl</th>
                    <th>AudioDescription</th>
                    <th>LessonId</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var audio in Model)
                {
                    <tr>
                        <td>
                            <p>@audio.AudioId</p>
                        </td>
                        <td>
                            <p>@audio.AudioUrl</p>
                        </td>
                        <td>
                            <p>@audio.AudioDescription</p>
                        </td>
                        <td>
                            <p>@audio.LessonId</p>
                        </td>
                        <td>
                            <a href="@Url.ActionLink("Audio_Edit","Audio", new { id = audio.AudioId }))" class="text-link-action">Sửa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.ActionLink("Audio_Delete","Audio",new { id = audio.AudioId }))" class="text-link-action">Xóa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.ActionLink("Audio_Details","Audio",new { id = audio.AudioId }))" class="text-link-action">Chi tiết</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>