@model IEnumerable<study4_be.Models.Unit>
<style>
    .course__create-btn {
        padding: 10px;
        margin-top: 40px;
        border: none;
        font-size: 20px;
        background-color: #d1ecf1;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
    }

        .course__create-btn:hover {
            opacity: 0.8;
        }
</style>


<div class="card">
    <div class="container">
        <p>Search</p>
        <input type="text" class="col-md-10" />
        <a href="" class="course__create-btn col-md-1"><i class="fa-solid fa-magnifying-glass"></i></a>
        <a href="@Url.ActionLink("Unit_Create","Unit")" class="course__create-btn col-md-1"><i class="fa-solid fa-plus"></i></a>
    </div>
    <div class="card-body">
        <table class="table">
            <thead class="table-info">
                <tr>
                    <th>UnitId</th>
                    <th>CourseId</th>
                    <th>UnitTittle</th>
                    <th>Course</th>
                    <th>Containers</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var unit in Model)
                {
                    <tr>
                        <td>
                            <p>@unit.UnitId</p>
                        </td>
                        <td>
                            <p>@unit.CourseId</p>
                        </td>
                        <td>
                            <p>@unit.UnitTittle</p>
                        </td>
                        <td>
                            <a href="@Url.ActionLink("Unit_Edit","Unit",new { id = unit.UnitId })" class="text-link-action">Sửa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.ActionLink("Unit_Delete","Unit",new { id = unit.UnitId })" class="text-link-action">Xóa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.ActionLink("Unit_Details","Unit",new { id = unit.UnitId })" class="text-link-action">Chi tiết</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>