@model IEnumerable<study4_be.Models.Translate>
<style>
    .course__create-btn {
        padding: 10px;
        margin-top: 40px;
        border: none;
        font-size: 20px;
        background-color: #d1ecf1;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
    }

        .course__create-btn:hover {
            opacity: 0.8;
        }
</style>


<div class="card">
    <div class="card-body">
        <table class="table">
            <thead class="table-info">
                <tr>
                    <th>TranslateId</th>
                    <th>Hint</th>
                    <th>Text</th>
                    <th>Answer</th>
                    <th>LessonId</th>
                    <th>Lesson</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var trans in Model)
                {
                    <tr>
                        <td>
                            <p>@trans.TranslateId</p>
                        </td>
                        <td>
                            <p>@trans.Hint</p>
                        </td>
                        <td>
                            <p>@trans.Text</p>
                        </td>
                        <td>
                            <p>@trans.Answer</p>
                        </td>
                        <td>
                            <p>@trans.LessonId</p>
                        </td>
                        <td>
                            <p>@trans.Lesson</p>
                        </td>
                        <td>
                            <a href="@Url.ActionLink("Translate_Edit","Translate",new { id = trans.TranslateId })" class="text-link-action">Sửa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.ActionLink("Translate_Delete","Translate",new { id = trans.TranslateId })" class="text-link-action">Xóa</a>
                            <span style="padding:0 8px">|</span>
                            <a href="@Url.ActionLink("Translate_Details","Translate",new { id = trans.TranslateId })" class="text-link-action">Chi tiết</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <a href="@Url.ActionLink("Translate_Create","Translate")" class="course__create-btn">Create</a>
</div>